* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9d300;
    padding: 5px 20px;
}

.container {
    width: 100%;
    margin: 0 20px;
    display: inline-block;
}


.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
    padding: 0 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

/* main section  */

.main {
    margin: 40px 50px;
}

.row {
    display: flex;
    gap: 50px;
}

.col {
    flex: 0 0 45%;
}


.col img {
    width: 100%;
}

.col h1 {
    width: 350px;
    font-size: 76px;
    line-height: 75px;
    color: #010101;
    font-weight: 600;
    padding-bottom: 30px;
}

.col p {
    width: 400px;
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 30px;
}

.btn {
    padding: 7px 15px;
    border: none;
    background-color: #e9d300;
    color: black;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
}